{%  extends 'masterpage.html' %}
{% load static %}

{% block mainblock %}
    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Lista wszystkich klientów firmy
                                    <div class="page-title-subheading">Listę klientów możesz segregować według własnego uznania, tak samo wyszukiwać klientów, i sprawdzać ich statystyki.
                                        <br> W nawiasach jest podana ilość razy. <br>
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                            </div>
                        </div>
    </div>



<div class="app-main__inner">

    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#id</th>
                                    <th>Imię i Nazwisko</th>
                                    <th>Email</th>
                                    <th>Telefon</th>
                                    <th>Sprzedawca</th>
                                    <th>Retencja</th>
                                    <th>Biuro</th>
                                    <th>Data rejestracji</th>
                                    <th>FTD</th>
                                    <th>Wpłaty</th>
                                    <th>Wypłaty</th>
                                    <th>Bilans</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for c in clients_list %}
                                <tr>
                                    <td>{{ c.id }}</td>
                                    <td>{{ c.name }} {{ c.lastname }}</td>
                                    <td>{{ c.email }}</td>
                                    <td>{{ c.phone }}</td>
                                    <td>{{ c.salesman.name }} {{ c.salesman.lastname }}</td>
                                    <td>{{ c.retention.name }} {{ c.retention.lastname }}</td>
                                    <td>{{ c.phone }}</td>
                                    <td>{{ c.reg_time }}</td>
                                    {% for d in operation %}
                                        {% if c.id == d.client_id and d.status_id == 4 %}
                                            <td>{{ d.cash }}</td>
                                            {% else %}
                                            <td>Pending</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% endfor%}
                                </tr>

                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}