{%  extends 'masterpage.html' %}
{% load static %}

{% block mainblock %}
    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Lista wszystkich pracowników firmy
                                    <div class="page-title-subheading">Listę pracowników możesz segregować według własnego uznania, tak samo wyszukiwać pracowników, i sprawdzać ich statystyki.
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                            </div>
                        </div>
    </div>



<div class="app-main__inner">

    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#id</th>
                                    <th>Imię i Nazwisko</th>
                                    <th>Email</th>
                                    <th>Biuro</th>
                                    <th>Menager</th>
                                    <th>Data rejestracji</th>
                                    <th>FTD</th>
                                    <th>Wpłaty</th>
                                    <th>Wypłaty</th>
                                    <th>Bilans</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for c in employee %}
                                <tr>
                                    <td>{{ c.id }}</td>
                                    <td>{{ c.name }} {{ c.lastname }}</td>
                                    <td>{{ c.email }}</td>
                                    <td>Biuro 1</td>
                                    <td>Manager</td>
                                    <td>{{ c.reg_time }}</td>
                                    <td>FTD's</td>
                                    <td>depo</td>
                                    <td>wypłaty</td>
                                    <td>Bilans</td>
                                    {% endfor %}
                                </tr>

                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}