{%  extends 'masterpage.html' %}
{% load static %}

{% block mainblock %}
    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Lista wszystkich pracowników firmy
                                    <div class="page-title-subheading">Listę pracowników możesz segregować według własnego uznania, tak samo wyszukiwać pracowników, i sprawdzać ich statystyki.
                                        <br> W nawiasach jest podana ilość.
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                            </div>
                        </div>
    </div>



<div class="app-main__inner">

<div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Total Employees</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <span class="opacity-10 text-success pr-2">
                                                        <i class="fa fa-headset"></i>
                                                    </span>
                                                    {{ employee.count }}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-warning card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Total Depositis</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <small class="text-warning pr-1">€</small>
                                                    {{ total_depo }}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-danger card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Withdrawal's</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <small class="text-danger pr-1">€</small>
                                                    {{ total_wd }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Total balance</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <small class="text-success pr-1">€</small>
                                                    {{total_balance}}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#id</th>
                                    <th>Imię i Nazwisko</th>
                                    <th>Email</th>
                                    <th>Biuro</th>
                                    <th>Menager</th>
                                    <th>Data rejestracji</th>
                                    <th>FTD</th>
                                    <th>FTD's</th>
                                    <th>Redepo</th>
                                    <th>Redepo's</th>
                                    <th>Withdrawal</th>
                                    <th>Withdrawal's</th>
                                    <th>Bilans</th>
                                    <th>Check</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for e in employee %}
                                <tr>
                                    <td>{{ e.id }}</td>
                                    <td>{{ e.name }} {{ e.lastname }}</td>
                                    <td>{{ e.email }}</td>
                                    <td>{{ e.office }}</td>
                                    <td>{{ e.manager }}</td>
                                    <td>{{ e.reg_time }}</td>
                                    <td>€ {{ e.e_ftd }}</td>
                                    <td>{{ e.e_ftd_count }}</td>
                                    <td>€ {{ e.e_depo }}</td>
                                    <td>{{ e.e_depo_count }}</td>
                                    <td>€ {{ e.e_wd }}</td>
                                    <td>{{ e.e_wd_count }}</td>
                                    <td>€ {{ e.e_all }}</td>
                                    <td>Button</td>
                                    {% endfor %}
                                </tr>

                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>

</div>
{% endblock %}