{%  extends 'masterpage.html' %}
{% load static %}

{% block mainblock %}
    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Dodaj nowego Menagdżera
                                    <div class="page-title-subheading">Uzupełnij wszystkie potrzebne dane, a menadzer zostanie dodany do bazy danych.</div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                            </div>
                        </div>
    </div>

<div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Uzupełnij dane menadżera:</h5>
                            <div class="divider"></div>
                            Każdy menadżer jest automatycznie dodawany do bazy pracowników, w liście pracowników możesz go awansować lub zdegradować, tak samo zmienić status na nie aktywny.
                            <div class="divider"></div>
                            <form id="signupForm" class="col-md-10 mx-auto" method="post" action="">
                                {%  csrf_token %}
                                <div class="form-group">
                                    <label for="firstname">Imię:</label>
                                    <div>
                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Imię menadzera"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="lastname">Nazwisko:</label>
                                    <div>
                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nazwisko menadzera"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="telephone">Numer telefonu:</label>
                                    <div>
                                        <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Numer telefonu"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <div>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="office">Biuro:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" name='office' id="office">
                                        <option value="" disabled selected>Wybierz biuro:</option>
                                        {%  for o in office %}
                                            <option value="{{ o.id }}">{{ o.name }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Dodaj Pracownika!</button>
                                </div>
                            </form>
                        </div>
</div>
{% endblock %}