
{%  extends 'masterpage.html' %}
{% load static %}

{% block mainblock %}
    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Dodaj nową operacje przeprowadzoną z klientem:
                                    <div class="page-title-subheading">Uzupełnij wszystkie potrzebne dane, a operacja zostanie dodana do bazy danych.</div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                            </div>
                        </div>
    </div>
                                {%  csrf_token %}
<div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Uzupełnij dane nowej operacji:</h5>
                            <div class="divider"></div>
                            Każda operacja która zostanie dodana, poprzez formularz jest w statusie "Do sprawdzenia", dopiero po zatwierdzeniu zostaje on doliczony do wyniku biura.
                            <div class="divider"></div>
                            <form id="signupForm" class="col-md-10 mx-auto" method="post" action="">
                                {%  csrf_token %}
                                <div class="form-group">
                                    <label for="client">Wyszukaj klienta:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" name='client' id="client">

                                    <option value="" disabled selected>Wybierz sprzedawcę</option>
                                        {% for c in office %}

                                        <optgroup label="{{ c.name }}">
                                            {% for e in client %}
                                                {% if e.office_id == c.pk %}
                                                   <option value="{{ e.pk }}">&emsp;{{ e.name }} {{ e.lastname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </optgroup>

                                    </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Sprzedawca:</label>
                                    <div>
                                    <select aria-label="selsman_label" class="multiselect-dropdown form-control" name='salesman' id="salesman">
                                        <option value="" disabled selected>Wybierz sprzedawcę</option>
                                        {% for c in office %}

                                        <optgroup label="{{ c.name }}">
                                            {% for e in employee %}
                                                {% if e.office_id == c.pk %}
                                                   <option value="{{ e.pk }}">&emsp;{{ e.name }} {{ e.lastname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </optgroup>

                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="client">Rodzaj transakcji:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" name='trans' id='trans'>
                                        <option disabled selected>Wybierz rodzaj transakcji</option>
                                            {% for e in status %}
                                                {% if e.id > 1 and e.id < 4%}
                                                <option value="{{ e.pk }}">{{ e.status }}</option>
                                                {% endif %}

                                            {% endfor %}
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirm_password">Kwota operacji:</label>
                                    <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">€</span></div>
                                                    <input placeholder="Wpisz kwotę" name="cash" id="cash" class="form-control" type="number">
                                                    <div class="input-group-append"></div>
                                                </div>
                                </div>

                                <div class="form-group">
                                    <label for="date_operation">Data operacji:</label>
                                    <div>
                                        <div class="position-relative form-group">
                                            <input name="date" id="date" placeholder="Wybierz datę" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Jaki bank:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" id="bank" name="bank">
                                        <option id="bank" value="" disabled selected>Wybierz bank</option>
                                        {% for e in banks %}
                                            <optgroup label="Banki">
                                                <option value="{{ e.id }}">{{ e.name }}</option>
                                            </optgroup>
                                            {% endfor %}
                                    {% for e in posr %}
                                            <optgroup label="Pośrednicy">
                                                <option value="{{ e.id }}">{{ e.name }}</option>
                                            </optgroup>
                                            {% endfor %}
                                    {% for e in crypto %}
                                            <optgroup label="Kryptowaluty">
                                                <option value="{{ e.id }}">{{ e.name }}</option>
                                            </optgroup>
                                            {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Dodaj Operacje!</button>
                                </div>
                            </form>
                        </div>
</div>
{% endblock %}