
{%  extends 'masterpage.html' %}
{% load static %}

{% block mainblock %}
    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                                </div>
                                <div>Dodaj nowego klienta
                                    <div class="page-title-subheading">Uzupełnij wszystkie potrzebne dane, a klient zostanie dodany do bazy danych.</div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                            </div>
                        </div>
    </div>

<div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Uzupełnij dane klienta:</h5>
                            <div class="divider"></div>
                            Każdy klient który zostanie dodany, poprzez formularz jest w statusie "Do sprawdzenia", dopiero po zatwierdzeniu zostaje on doliczony do wyniku biura.
                            <div class="divider"></div>
                            <form id="signupForm" class="col-md-10 mx-auto" method="post" action="">
                                {%  csrf_token %}
                                <div class="form-group">
                                    <label for="firstname">Imię:</label>
                                    <div>
                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Imię klienta"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="lastname">Nazwisko:</label>
                                    <div>
                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nazwisko klienta"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="username">Numer telefonu:</label>
                                    <div>
                                        <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Numer telefonu"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <div>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Sprzedawca:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" name='salesman' id="salesman">
                                        <option value="" disabled selected>Wybierz sprzedawcę</option>
                                        {% for c in office %}

                                        <optgroup label="{{ c.name }}">
                                            {% for e in employee %}
                                                {% if e.office_id == c.pk %}
                                                   <option value="{{ e.pk }}"> &nbsp; {{ e.name }} {{ e.lastname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </optgroup>

                                    </select>
                                    </div>
                                </div>

                                 <div class="form-group">
                                    <label for="email">Retencja:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" name='retention' id="retention">
                                        <option value="" disabled selected>Wybierz retencje</option>
                                        {% for c in office %}

                                        <optgroup label="{{ c.name }}">
                                            {% for e in employee %}
                                                {% if e.office_id == c.pk %}
                                                   <option value="{{ e.pk }}">&nbsp; {{ e.name }} {{ e.lastname }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </optgroup>

                                    </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirm_password">Ile wpłacił klient:</label>
                                    <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">€</span></div>
                                                    <input placeholder="Wpisz kwotę" name="cash" id="cash" class="form-control" type="number">
                                                    <div class="input-group-append"></div>
                                                </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirm_password">Data zamknięcia klienta:</label>
                                    <div>
                                        <div class="position-relative form-group">
                                            <input name="ftd_date" id="ftd_date" placeholder="Wybierz datę" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Metoda płatności:</label>
                                    <div>
                                    <select class="multiselect-dropdown form-control" id="ftd_bank" name="ftd_bank">
                                        <option value="" disabled selected>Wybierz bank</option>

                                        {% for e in banks %}
                                            <optgroup label="Banki">
                                                <option value="{{ e.id }}">&nbsp; {{ e.name }}</option>
                                            </optgroup>
                                        {% endfor %}
                                        {% for e in posr %}
                                            <optgroup label="Pośrednicy">
                                                <option value="{{ e.id }}"> &nbsp;{{ e.name }}</option>
                                            </optgroup>
                                        {% endfor %}
                                        {% for e in crypto %}
                                            <optgroup label="Kryptowaluty">
                                                <option value="{{ e.id }}">&nbsp; {{ e.name }}</option>
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Dodaj klienta!</button>
                                </div>
                            </form>
                        </div>
</div>
{% endblock %}